In [1]:
import pandas as pd
import numpy as np

# Energy Dataset

In [2]:
Energy = pd.read_excel('assets/Energy Indicators.xls', header=None, skipfooter=1)

In [3]:
#Energy.head()

In [4]:
Energy = Energy.iloc[18:245, :]

In [5]:
#Energy.head()

In [6]:
#Energy.columns.values

In [7]:
Energy.drop([0, 1], axis=1, inplace=True)

In [8]:
Energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

In [9]:
#Energy.head()

In [10]:
Energy['Energy Supply'].replace('...', np.nan, inplace=True)
Energy['Energy Supply per Capita'].replace('...', np.nan, inplace=True)

In [11]:
Energy.dtypes

Country                      object
Energy Supply               float64
Energy Supply per Capita    float64
% Renewable                  object
dtype: object

In [12]:
Energy['Country'][60]

'China2'

In [13]:
import re

In [14]:
#countryregex = '([a-zA-Z\s\-\,]+)(?:[\d\(\)]*\w*\)*)'
newregex = '([a-zA-Z\s\-\,]+)(?:[\d\(\)]*\w*\)*)'

In [15]:
#re.findall(newregex, 'Mann, mn , pp (99')

In [16]:
#Energy['Country']

In [17]:
#Energy['Country'] = Energy['Country'].apply(lambda x: re.findall(countryregex, x)[0].strip())
Energy['Country'] = Energy['Country'].apply(lambda x: re.findall(newregex, x)[0].strip())

In [18]:
Energy['Country'].replace({"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"}, inplace=True)

In [19]:
Energy['Energy Supply'] = Energy['Energy Supply'].apply(lambda x: x*1000000)

In [20]:
#Energy.head()

In [21]:
#Energy['Country'][61]

In [23]:
#Energy['Country'].values

# GDP Dataset

In [24]:
GDP = pd.read_csv('assets/world_bank.csv', header=None)

In [25]:
#GDP.head()

In [26]:
GDP = GDP.iloc[4:, :]

In [27]:
#GDP.head()

In [28]:
gdp_cols = list(GDP.iloc[0, :])

In [29]:
#gdp_cols

In [30]:
for i in range(4, len(gdp_cols), 1):
    gdp_cols[i] = str(int(gdp_cols[i]))

In [31]:
#gdp_cols

In [32]:
GDP.columns = gdp_cols

In [33]:
#GDP.head()

In [34]:
GDP.drop(4, axis=0, inplace=True)

In [35]:
GDP.rename({'Country Name': 'Country'}, axis=1, inplace=True)

In [36]:
GDP['Country'].replace({"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"}, inplace=True)

In [37]:
#GDP['Country'].values

In [38]:
#GDP.shape

# SciEm

In [39]:
SciEm = pd.read_excel('assets/scimagojr-3.xlsx')

In [40]:
#SciEm.head()

# Outer Merge(Join)

In [41]:
outer_merged = SciEm.merge(GDP, on='Country', how='outer').merge(Energy, on='Country', how='outer')

In [42]:
outer_merged.set_index('Country', inplace=True)

In [43]:
#outer_merged.head()

In [44]:
merge_cols = ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index',
              'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', 
              '2012', '2013', '2014', '2015']

In [45]:
final_outer_merged = outer_merged[merge_cols]

In [46]:
final_outer_merged.sort_values(by='Rank').iloc[:15, :]

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1.0,127050.0,126767.0,597237.0,411683.0,4.70,138.0,1.271910e+11,93.0,19.7549,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2.0,96661.0,94747.0,792274.0,265436.0,8.20,230.0,9.083800e+10,286.0,11.571,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3.0,30504.0,30287.0,223024.0,61554.0,7.31,134.0,1.898400e+10,149.0,10.2328,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4.0,20944.0,20357.0,206091.0,37874.0,9.84,139.0,7.920000e+09,124.0,10.6005,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5.0,18534.0,18301.0,34266.0,12422.0,1.85,57.0,3.070900e+10,214.0,17.2887,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6.0,17899.0,17620.0,215003.0,40930.0,12.01,149.0,1.043100e+10,296.0,61.9454,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7.0,17027.0,16831.0,140566.0,27426.0,8.26,126.0,1.326100e+10,165.0,17.9015,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8.0,15005.0,14841.0,128763.0,37209.0,8.58,115.0,3.319500e+10,26.0,14.9691,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9.0,13153.0,12973.0,130632.0,28601.0,9.93,114.0,1.059700e+10,166.0,17.0203,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10.0,11983.0,11923.0,114675.0,22595.0,9.57,104.0,1.100700e+10,221.0,2.27935,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11.0,10964.0,10794.0,111850.0,26661.0,10.20,106.0,6.530000e+09,109.0,33.6672,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12.0,9428.0,9330.0,123336.0,23964.0,13.08,115.0,4.923000e+09,106.0,37.9686,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13.0,8896.0,8819.0,57470.0,19125.0,6.46,72.0,9.172000e+09,119.0,5.70772,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14.0,8831.0,8725.0,90765.0,15606.0,10.28,107.0,5.386000e+09,231.0,11.8108,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15.0,8668.0,8596.0,60702.0,14396.0,7.00,86.0,1.214900e+10,59.0,69.648,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [47]:
final_outer_merged.shape

(318, 20)

In [48]:
#final_outer_merged.dtypes

In [49]:
#final_outer_merged.sort_values(by='Rank').iloc[:15, :]

# Inner Merge(Join)

In [50]:
inner_merged = SciEm.merge(GDP, how='inner', on='Country').merge(Energy, how='inner', on='Country')

In [53]:
#inner_merged.head()

In [54]:
inner_merged.set_index('Country', inplace=True)

In [55]:
final_inner_merged = inner_merged[merge_cols]

In [56]:
#final_inner_merged.sort_values(by='Rank').iloc[:15, :]

In [57]:
def get_top15_inner_merged():
    return final_inner_merged.sort_values(by='Rank').iloc[:15, :]

def get_top15_outer_merged():
    return final_outer_merged.sort_values(by='Rank').iloc[:15, :]

In [58]:
def get_inner_merged():
    return final_inner_merged

def get_outer_merged():
    return final_outer_merged

In [59]:
def get_Energy():
    return Energy

def get_GDP():
    return GDP

def get_SciEm():
    return SciEm

In [60]:
len(Energy['Country'].unique()) + len(GDP['Country'].unique()) + len(SciEm['Country'].unique())

682

In [61]:
len(Energy['Country'].unique()) , len(GDP['Country'].unique()) , len(SciEm['Country'].unique())

(227, 264, 191)

## Question 2

In [62]:
final_outer_merged.shape[0] - final_inner_merged.shape[0]

156

## Question 3

In [63]:
final_inner_merged.iloc[:, -10:]

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,
China,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
...,...,...,...,...,...,...,...,...,...,...
Maldives,1.862196e+09,2.063143e+09,2.320557e+09,2.192661e+09,2.323402e+09,2.525755e+09,2.588810e+09,2.710479e+09,2.886134e+09,2.929826e+09
Belize,1.285312e+09,1.299522e+09,1.341485e+09,1.352206e+09,1.397113e+09,1.426484e+09,1.479846e+09,1.499280e+09,1.560479e+09,1.590417e+09
Palau,2.074094e+08,2.072990e+08,1.957150e+08,1.779528e+08,1.838000e+08,1.930672e+08,1.992454e+08,1.943911e+08,2.026654e+08,2.216412e+08
Guyana,1.919759e+09,2.054533e+09,2.095143e+09,2.164673e+09,2.259288e+09,2.382129e+09,2.496863e+09,2.627240e+09,2.728150e+09,2.810153e+09
Mauritania,4.025616e+09,4.139051e+09,4.183751e+09,4.140153e+09,4.337792e+09,4.541844e+09,4.805048e+09,5.097687e+09,5.312107e+09,NaN

In [64]:
avgGDP = final_inner_merged.iloc[:, -10:].mean(axis=1).sort_values(ascending=False).rename('avgGDP')[:15]

## Question 4

In [65]:
q4country = avgGDP.index[5]
q4country

'United Kingdom'

In [66]:
final_inner_merged.loc[q4country][-1] - final_inner_merged.loc[q4country][-10]

246702696075.3999

## Question 5

In [67]:
final_inner_merged['Energy Supply per Capita'].mean()

100.6583850931677

## Question 6

In [68]:
final_inner_merged[final_inner_merged['% Renewable'] == 100]

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
Albania,118,23,23,168,14,7.30,6,102000000.0,35.0,100,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
Bhutan,136,8,8,36,0,4.50,2,63000000.0,83.0,100,1.076853e+09,1.269887e+09,1.330440e+09,1.419010e+09,1.585473e+09,1.710581e+09,1.797337e+09,1.835844e+09,1.936060e+09,1.999064e+09
Lesotho,149,6,6,25,3,4.17,3,48000000.0,23.0,100,1.771402e+09,1.855250e+09,1.961621e+09,2.027491e+09,2.187483e+09,2.276044e+09,2.389701e+09,2.496306e+09,2.587149e+09,NaN

In [69]:
top15 = get_top15_inner_merged()

In [70]:
top15

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.7549,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.571,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.2328,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.6005,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.2887,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.9454,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.9015,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.9691,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.0203,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.27935,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.6672,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.9686,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.70772,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.8108,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [71]:
top15maxren = top15['% Renewable'].max() 
x1 = top15maxren, top15[top15['% Renewable'] == top15maxren].index[0]

In [72]:
type(x1)

tuple

## Question 7

In [73]:
top15['citation_ratio'] = top15['Self-citations'] / top15['Citations']

In [74]:
top15['citation_ratio'].idxmax(), top15['citation_ratio'].max()

('China', 0.6893126179389422)

## Question 8

In [75]:
top15['population'] = top15['Energy Supply'] / top15['Energy Supply per Capita']
top15.sort_values(by='population').iloc[2].name

'Spain'

## Question 9

In [76]:
import scipy.stats as stats

In [77]:
top15['citable documents per person'] = top15['Citable documents'] / top15['population']
stats.pearsonr(top15['citable documents per person'], top15['Energy Supply per Capita'])[0]

0.7940010435442943

## Question 10

In [164]:
top15['HighRenew'] = (top15['% Renewable'] >= top15['% Renewable'].median()).astype('int8')

In [168]:
top15['HighRenew']

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: int8

## Question 11

In [79]:
ContinentDict  = {'China':'Asia', 'United States':'North America', 'Japan':'Asia', 'United Kingdom':'Europe',
                  'Russian Federation':'Europe', 'Canada':'North America', 'Germany':'Europe', 'India':'Asia',
                  'France':'Europe', 'South Korea':'Asia', 'Italy':'Europe', 'Spain':'Europe', 'Iran':'Asia',
                  'Australia':'Australia', 'Brazil':'South America'}

In [80]:
top15.index.map(ContinentDict).values

array(['Asia', 'North America', 'Asia', 'Europe', 'Europe',
       'North America', 'Europe', 'Asia', 'Europe', 'Asia', 'Europe',
       'Europe', 'Asia', 'Australia', 'South America'], dtype=object)

In [81]:
top15['Continent'] = top15.index.map(ContinentDict).values

In [160]:
top15.groupby(by='Continent').agg({'population':['size', 'sum', 'mean', 'std']})['population']

               size           sum          mean           std
Continent
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN

In [156]:
pd.pivot_table(top15, index='Continent', values=['population'], aggfunc=['size', 'sum', 'mean', 'std'])

              size           sum          mean           std
                 0    population    population    population
Asia             5  2.898666e+09  5.797333e+08  6.790979e+08
Australia        1  2.331602e+07  2.331602e+07           NaN
Europe           6  4.579297e+08  7.632161e+07  3.464767e+07
North America    2  3.528552e+08  1.764276e+08  1.996696e+08
South America    1  2.059153e+08  2.059153e+08           NaN

## Question 12

In [83]:
np.linspace(0, 100, 6)

array([  0.,  20.,  40.,  60.,  80., 100.])

In [86]:
pd.qcut(top15['% Renewable'], 5)

Country
China                 (17.534, 34.528]
United States         (10.527, 13.706]
Japan                  (2.278, 10.527]
United Kingdom        (10.527, 13.706]
Russian Federation    (13.706, 17.534]
Canada                (34.528, 69.648]
Germany               (17.534, 34.528]
India                 (13.706, 17.534]
France                (13.706, 17.534]
South Korea            (2.278, 10.527]
Italy                 (17.534, 34.528]
Spain                 (34.528, 69.648]
Iran                   (2.278, 10.527]
Australia             (10.527, 13.706]
Brazil                (34.528, 69.648]
Name: % Renewable, dtype: category
Categories (5, interval[float64]): [(2.278, 10.527] < (10.527, 13.706] < (13.706, 17.534] < (17.534, 34.528] < (34.528, 69.648]]

In [114]:
bins = np.linspace(top15['% Renewable'].min()-0.001, top15['% Renewable'].max(), 6)

In [115]:
pd.cut(top15['% Renewable'], bins=bins)

Country
China                 (15.752, 29.226]
United States          (2.278, 15.752]
Japan                  (2.278, 15.752]
United Kingdom         (2.278, 15.752]
Russian Federation    (15.752, 29.226]
Canada                (56.174, 69.648]
Germany               (15.752, 29.226]
India                  (2.278, 15.752]
France                (15.752, 29.226]
South Korea            (2.278, 15.752]
Italy                   (29.226, 42.7]
Spain                   (29.226, 42.7]
Iran                   (2.278, 15.752]
Australia              (2.278, 15.752]
Brazil                (56.174, 69.648]
Name: % Renewable, dtype: category
Categories (5, interval[float64]): [(2.278, 15.752] < (15.752, 29.226] < (29.226, 42.7] < (42.7, 56.174] < (56.174, 69.648]]

In [116]:
top15['Renewable_bins'] = pd.cut(top15['% Renewable'], bins=bins)

In [117]:
top15.head()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2012,2013,2014,2015,citation_ratio,population,citable documents per person,HighRenew,Continent,Renewable_bins
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.7549,...,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,0.689313,1.367645e+09,0.000093,1,Asia,"(15.752, 29.226]"
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.571,...,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,0.335031,3.176154e+08,0.000298,0,North America,"(2.278, 15.752]"
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.2328,...,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,0.275997,1.274094e+08,0.000238,0,Asia,"(2.278, 15.752]"
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.6005,...,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,0.183773,6.387097e+07,0.000319,0,Europe,"(2.278, 15.752]"
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.2887,...,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,0.362517,1.435000e+08,0.000128,1,Europe,"(15.752, 29.226]"

In [162]:
counts = top15.groupby(by=['Continent', 'Renewable_bins'], axis=0).size()
counts[counts > 0]

Continent      Renewable_bins
Asia           (2.278, 15.752]     4
               (15.752, 29.226]    1
Australia      (2.278, 15.752]     1
Europe         (2.278, 15.752]     1
               (15.752, 29.226]    3
               (29.226, 42.7]      2
North America  (2.278, 15.752]     1
               (56.174, 69.648]    1
South America  (56.174, 69.648]    1
dtype: int64

## Question 13

In [133]:
top15['population'][0]

1367645161.2903225

In [136]:
popregex = '(\d+)(.?\d*)'

In [137]:
re.findall(popregex, str(22002211.5547))

[('22002211', '.5547')]

In [138]:
num = 1000000
print(f"{num:,}")

1,000,000

In [140]:
f"{num:,}"

'1,000,000'

In [142]:
top15['population'].apply(lambda x: f"{x:,}").rename('PopEst')

Country
China                 1,367,645,161.2903225
United States          317,615,384.61538464
Japan                  127,409,395.97315437
United Kingdom         63,870,967.741935484
Russian Federation            143,500,000.0
Canada                  35,239,864.86486486
Germany                 80,369,696.96969697
India                 1,276,730,769.2307692
France                  63,837,349.39759036
South Korea            49,805,429.864253394
Italy                  59,908,256.880733944
Spain                    46,443,396.2264151
Iran                    77,075,630.25210084
Australia              23,316,017.316017315
Brazil                 205,915,254.23728815
Name: PopEst, dtype: object